# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea
/.DS_Store
/cladmin

/cmd/.DS_Store
/cmd/cladmin/.DS_Store
/cmd/cladmin/conf/config.yaml
/cmd/cladmin/log/*.log
/pkg/.DS_Store
/cmd/cladmin/public/.DS_Store
/cmd/cladmin/public/upload/*
!/cmd/cladmin/public/upload/README.MD
/cmd/cladmin/public/update/*
!/cmd/cladmin/public/update/README.MD
/cmd/cladmin/cladmin

/cmd/gormgenerate/conf/config.yaml
/cmd/gormgenerate/log/*.log

